{% extends 'base.html.twig' %}

{% block title %}Gestion des utilisateurs{% endblock %}

{% block body %}
 <div class="container">
    <h1>Gestion des utilisateurs</h1>

    {{ include('individu/_form.html.twig', {'button_label': 'Modifier'}) }}<a href="{{ path('individu_index') }}">Retour</a>

 </div>   
{% endblock %}
