{% extends 'base.html.twig' %}

{% block title %}Modifier le Fournisseur{% endblock %}

{% block body %}
<div class="container">
    <h1 class="text-center">Modifier le Fournisseur</h1>

    {{ include('fournisseur/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('fournisseur_index') }}">Retour à la liste</a>
</div>
{% endblock %}
