{% extends 'base.html.twig' %}

{% block title %} Ajouter un Fournisseur{% endblock %}

{% block body %}
<div class="container">
    <h1>Ajouter un Fournisseur</h1>

    {{ include('fournisseur/_form.html.twig') }}

    <a href="{{ path('fournisseur_index') }}">Revenir à la liste</a>
</div>

{% endblock %}
