{% extends 'base.html.twig' %}

{% block title %}Types vehicule{% endblock %}

{% block body %}
<br>
<div class="container">
   <h1>Types vehicule</h1>
        <div>
            <div>
                <a class="nav-item nav-link" href="#">MiniBus</a>
                <a class="nav-item nav-link" href="#">Voiture</a>
                <a class="nav-item nav-link" href="#">Fourgounnette</a>
                <a class="nav-item nav-link" href="#">Camions</a>

            </div>
        </div>
   

</div>

{% endblock %}
